.grid_principal {
  display: grid;
  grid-template-columns: 40% 46%;
  grid-gap: 14%;
  margin-top: 6rem;

  .grid_letf {
    color: $colorWhite;
    margin-top: 3rem;
    margin-left: 6rem;
    .title_principal {
      font-size: 3.2rem;
      line-height: normal;
      margin-bottom: 1.5rem;
    }

    .text_list {
      color: $colorWhite;
      font-size: 1.2rem;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .grid_rigth {
    .login {
      width: 28rem;
      margin: auto;
    }

    .title_login {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
      color: $colorText;
    }

    .principal_color {
      color: $primaryColor;
      font-weight: 500;
    }

    .subtitle_login {
      font-size: 1.2rem;
      color: $colorText;
      margin-bottom: 1.2rem;
    }
    .input_dni {
      width: 100%;
      display: flex;
      align-items: center;
    }
    .prefix_dni {
      font-size: 1.4rem;
      font-weight: 500;
      border: 2px solid $borderInput;
      border-right: none;
      width: 40%;
      height: 64px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 5px 0 0 5px;
    }
    .error_input {
      width: 100%;
      text-align: center;
      color: #721c24;
      background-color: #f8d7da;
      padding: 8px;
      border-color: #f5c6cb;
      border-radius: 5px;
      margin-top: 5px;
    }
    .error_request {
      width: 100%;
      text-align: center;
      color: #856404;
      background-color: #fff3cd;
      border-color: #ffeeba;
      padding: 8px;
      border-radius: 5px;
      margin-top: 5px;
    }
    .div_terminos {
      margin-top: 1rem;
      margin-bottom: 1rem;
      .terminos {
        text-align: justify;
        color: $borderInput;
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
}

.div_button {
  margin-bottom: 2rem;
  .btn_next {
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    background-color: $primaryColor;
    color: $colorWhite;
    padding: 1.2rem 2.2rem;
    margin-top: 1rem;
  }
}

.final_page {
  height: calc(100vh - 9rem);
  display: flex;
}

.fixed_icon {
  display: block;
  position: fixed;
  bottom: 26%;
  left: 15%;
}

.fixed_icon_login {
  display: block;
  position: fixed;
  bottom: 26%;
  left: 38%;
}
