/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("OpenSans Light"), local("OpenSans-Light"),
    url("OpenSans-Light.ttf");
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("OpenSans Light"), local("OpenSans-Light"),
    url("OpenSans-Light.ttf");
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("OpenSans Light"), local("OpenSans-Light"),
    url("OpenSans-Light.ttf");
}
/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("OpenSans Regular"), local("OpenSans-Regular"),
    url("OpenSans-Regular.ttf");
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("OpenSans Regular"), local("OpenSans-Regular"),
    url("OpenSans-Regular.ttf");
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("OpenSans Regular"), local("OpenSans-Regular"),
    url("OpenSans-Regular.ttf");
}
/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("OpenSans SemiBold"), local("OpenSans-SemiBold"),
    url("OpenSans-SemiBold.ttf");
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("OpenSans SemiBold"), local("OpenSans-SemiBold"),
    url("OpenSans-SemiBold.ttf");
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("OpenSans SemiBold"), local("OpenSans-SemiBold"),
    url("OpenSans-SemiBold.ttf");
}
/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("OpenSans Bold"), local("OpenSans-Bold"), url("OpenSans-Bold.ttf");
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("OpenSans Bold"), local("OpenSans-Bold"), url("OpenSans-Bold.ttf");
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("OpenSans Bold"), local("OpenSans-Bold"), url("OpenSans-Bold.ttf");
}
